<h1 class="title">
  <%= @entry.title %>
</h1>

<p class="name">
  <%= @entry.name %>
</p>

<p class="detail">
  <%= @entry.detail %>
</p

<br><br>
<p class="delete">
  <%= link_to 'Delete this entry', entry_path(@entry), method: :delete, data: { confirm: 'do you want to delete this entry?' } %>
</p>
